[Unit]
Description=SSIF Bridge Daemon

[Service]
Type=dbus
BusName=org.openbmc.HostIpmi
ExecStart=/usr/sbin/ssifbridged
Restart=always

[Install]
WantedBy=multi-user.target
